/*basic*/
html{
  background-color: #FFFFFF; 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
}
*{
  box-sizing: inherit;
}
body{
  font-weight: 550;
  margin: 0;
  padding: 0;
  cursor: default;
}
.h1{
  font-size: 30px;
}
.h2{
  font-size: 24px;
}
.h3{
  font-size: 20px;
}
.h4{
  font-size: 15px;;
}
.h5{
  font-size: 13px;
}
.h6{
  font-size: 12px;
}
.p{
  font-size: 10px;
}
/*intro*/
.content{
  margin-top: 50px;
}
/*bigpic*/
.bigpic{
  background-color: #FFF7D8;
  width: 100%;
  height: 564px;
  text-align: center;
}
