/*basic*/
html{
  background-color: #FFFFFF; 
  box-sizing: border-box;
}
*,*:before,*:after{
  box-sizing: inherit;
}
body{
  margin: 0;
}
h1{
  font-size: 30px;
}
h2{
  font-size: 24px;
}
h3{
  font-size: 20px;
}
h4{
  font-size: 15px;;
}
h5{
  font-size: 13px;
}
h6{
  font-size: 12px;
}
p{
  font-size: 10px;
}
/*intro*/
.content{
  margin-top: 50px;
}
/*bigpic*/
.bigpic{
  background-color: #FFF7D8;
  width: 100%;
  text-align: center;
  padding-top: 50px;
}
.bigpic-h{
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 0px;
}
.bigpic-c{
  margin-top: 0px;
  margin-bottom: 13px;
}
.bigpic-img{
  width: 100%;
  height: auto;
  clip-path: inset(172px 0px 0px 0px);
}

