/*basic*/
html{
  background-color: #FFFFFF; 
  box-sizing: border-box;
}
*,*:before,*:after{
  box-sizing: inherit;
}
body{
  margin: 0;
}
body h1{
  font-size: 30px;
  @media(max-width: 768px){
    font-size: 20px;
  }
}
body h2{
  font-size: 24px;
}
body h3{
  font-size: 20px;
  @media(max-width: 768px){
    font-size: 12px;
  }
}
body h4{
  font-size: 15px;
  @media(max-width: 768px){
    font-size: 10px;
  }
}
body h5{
  font-size: 13px;
}
body h6{
  font-size: 12px;
}
body p{
  font-size: 10px;
}
/*content*/
#root{
  width: 100%;
  position: absolute;
  top: 0px;
  height: 100%;
}
.content{
  background-color: #FFF7D8;
  width: 100%;
  margin-top: 50px;
  height: 100%;
  padding-top: 35px;
}
/*detail-top*/
.detail-top{
  display: flex;
}
.detail-img{
  padding-right: 52.5px;
  padding-left: 160px;
  width: 50%;
}
.detail-c{
  padding-right: 160px;
  padding-left: 53.5px;
  width: 50%;
}
.detail-c-name{
  margin-bottom: 20px;
}
.detail-c-key{
  margin-bottom: 23px;
}
.card {
  width: 100%;
  border-radius: 12px;
  font-family: sans-serif;
  margin: 0 auto;
}
.section-title {
  background-color: white;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 22px;
  height: 25px;
}
.info-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20.5px 8%;
  align-items: center;
  margin-bottom: 16px;
}
.label {
  background-color: #f8b46a;
  color: white;
  border-radius: 3px;
  text-align: center;
}
.value{
  width: 80px;
}
.btn-group {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.btn {
  flex: 1;
  padding: 10px;
  height: 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 24.5px;
}
.btn-secondary {
  background-color: #7392B9;
  color: white;
}
.btn-secondary:hover{
  background-color: white;
  color: #7392B9;
}
.btn-primary {
  background-color: #9AA57C;
  color: white;
}
.btn-primary:hover{
  background-color: white;
  color: #9AA57C;
}
/*detail-bottom*/